/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/02/2020, 03:47:33 PM
    Author     : Mario
*/

body {


}

.portada{
    
    width: auto;
    height: 200px;
    
}

.f-grow{

	flex-grow: 1;

}

h1{

	font: normal Verdana, Geneva, sans-serif;
	background: -webkit-linear-gradient(top, green, white);
	width: 50%;
	border-radius: 10px;
	margin: 15px auto;
	text-align: center;
	padding: 15px;
	color: white;
	box-shadow: darkgray 5px 5px 10px;
	text-shadow: gray 2px 2px 3px;
}

h2{

	font: bold Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 5px 0 5px 0;
}

h3{
    
    text-align: center;
    
}

section{

	width: 100%;
	padding: 10px;
	margin: 15px auto;
}

.border{
    
    border: 1px solid gray;
    
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.d-flex{

        display: flex;
        
}

.column{
    
    flex-direction: column;
    /*border: 1px solid gray;*/
   
}

.row{
    
    flex-direction: row;
    border: 1px solid gray;
    
}

.margin{
    
    width: 300px;
    height: auto;
    
}

.pdd{
    padding: 10px;
}

.mrg{
    
    margin: 15px;
    
}


.justify-content-center{
    
   flex-wrap: nowrap;
   justify-content: center;
}

.justify-content-around{
    
   flex-wrap: nowrap;
   justify-content: space-around;
}

.justify-content-betwen{
    
   flex-wrap: nowrap;
   justify-content: space-between;
}

.align-item-bottom{
    
    align-items: flex-end; 
    
}

.align-item-center{
    
    align-items: center; 
    
}

.flex-wrap{
    
    flex-wrap: wrap;
    
}

.figure{

	padding: 4px;
	/*background: gray;*/
	border-radius: 15px;
	-webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
	/*box-shadow: gray 10px 10px 15px;*/
}

.figure:hover{

	-webkit-transform:scale(1.3);
}

.btn{
    
    color: white;
    width: 100px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: blue;
    box-shadow: 2px 2px 2px gray;
   
}

.btn:hover{
    background-color: skyblue;
}

footer {

	clear: both;
	padding-top: 100px;
}

.footer{
	font-family: Georgia, "Times New Roman", Times, serif;
        color: darkgray;
	background-color: gray;
        padding: 25px;
	margin: 10px 8px;
}